.border:hover {
	border: 2px solid #fff;
	cursor: pointer;
}
.change {
	transition: all 0.5s ease;
}
.change:hover {
	color: #07e4f0;
}
@keyframes load {
	0% {
		filter: opacity(0);
		margin-left: 500px;
		flex-wrap: wrap;
		transform: perspective(1000px) scale(0.1);
		transform: scale(0);
		transform: rotateX(0%);
	}
	50% {
		filter: opacity(0.5);
		margin-left: 300px;
		transform: scale(0.5);
		transform: rotateX(50%);
	}
	100% {
		filter: opacity(1);
		margin-left: 0px;
		flex-wrap: nowrap;
		transform: perspective(1000px) scale(1);
		transform: scale(1);
		transform: rotateX(100%);
	}
}
.ani {
	animation: load linear;
	animation-timeline: view();
	animation-range: entry 0% cover 30%;
}
html {
	scroll-behavior: smooth;
}
.glowing:hover{
	filter: drop-shadow(0 0 10px rgb(37, 162, 200));
	cursor: pointer;
}